extends ../layout

block content
  .page-header
    h3 Sign in
  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .col-sm-8.col-sm-offset-2
      .form-group
        label.control-label(for='email') Email
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus=true)
      .form-group
        label.control-label(for='password') Password
        input.form-control(type='password', name='password', id='password', placeholder='Password')
      .form-group
        button.btn.btn-primary(type='submit')
          span.ion-android-hand
          | Login
        a.btn.btn-link(href='/forgot') Forgot your password?
      hr
      .col-sm-1.col-sm-offset-4
        a.btn.btn-lg.btn-social-icon(href='/auth/github', title='Sign in with Github')
          span.ion-social-github
      .col-sm-1
        a.btn.btn-lg.btn-social-icon(href='/auth/facebook', title='Sign in with Facebook')
          span.ion-social-facebook
      .col-sm-1  
        a.btn.btn-lg.btn-social-icon(href='/auth/google', title='Sign in with Google+')
          span.ion-social-googleplus   
      .col-sm-1
        a.btn.btn-lg.btn-social-icon(href='/auth/linkedin', title='Sign in with LinkedIn')
          span.ion-social-linkedin
