extends layout

head

block content

  p.lead JRaaS eases the HR's efforts by cutting down the time to find the right candidate through a bank of resumes.
    
  script.
    $(document).ready(function() {
      $('#map').usmap({
        stateHoverAnimation : 300,
        stateHoverStyles : {
        fill : '#2C93FF'
        },
        stateStyles : {
        fill : '#FFFFFF'
        },
        showLabels : true,
        mouseover : function(event,data){
          $('#displayState')
          .text(data.name);
        },
        click : function(evet,data){
          window.location = '/job?state='+data.name;
        }
      });
    });

  hr
  .row
    #map.col-sm-offset-2.col-sm-6.hidden-xs.map
    #stateClicked