extends layout

head

block content
  if !user 
    p.lead.col-sm-offset-3 Recruiting is Broken! Login and stop searching!
    hr
  script.
    $(document).ready(function() {
      $('#map').usmap({
        stateHoverAnimation : 300,
        stateHoverStyles : {
        fill : '#2C93FF'
        },
        stateStyles : {
        fill : '#FFFFFF'
        },
        showLabels : true,
        mouseover : function(event,data){
          $('#displayState')
          .text(data.name);
        },
        click : function(evet,data){
          window.location = '/job?state='+data.name;
        }
      });
    });
  .row
    #map.col-sm-offset-2.col-sm-6.hidden-xs.map
    #stateClicked