extends layout

head
  link(type='text/javascript', href='/js/lib/raphael.js')
  link(type='text/javascript', href='/js/lib/jquery.usmap.js')
block content
  p.lead JRaaS eases the HR's efforts by cutting down the time to find the right candidate through a bank of resumes.
  hr
  .row
    #map.col-sm-6.hidden-xs.map
script.
  $(document).ready(function() {
  $('#map').usmap({
  stateHoverAnimation : 300,
  stateHoverStyles : {
  fill : '#2C93FF'
  }
  });
  });