extends ../layout

block content
    .page-header
      h3 Work History
      .col-sm-2
      h4 Please provide work history to complete your profile.
    body
      form.form-horizontal(id='workdetails' method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .input_container
          input.add_button(type = 'button' value = 'ADD Another work item' id = 'addButton')
          input(id = 'workCount' type='hidden', name='workCount', value='1')

        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script.
          var count = 1;
          function appendHtml(){
            $('.add_button').before('<label for="company_name" class="col-sm-2 control-label">Company :</label><textarea id="company" name="company_name" rows="1" cols="40" placeholder="Company Name" class="add_input"></textarea><br/><br/><label for="job_title" class="col-sm-2 control-label">Job Title :</label><textarea id="job_title" name="job_title" rows="1" cols="40" placeholder="Job Title" class="add_input1"></textarea><br/><br/><label for="role" class="col-sm-2 control-label">Summary : </label><textarea id="role" name="role" rows="4" cols="40" placeholder="Elaborate on your contribution to different projects and role" class="add_input2"></textarea><br/><br/>' ) ;
          }
          $(document).ready(appendHtml());
          $("#addButton").on("click",function()
          {
            $('#workCount').val(++count);
            alert(count);
            appendHtml();
          });

        .form-group
            .col-sm-offset-2.col-sm-4
            button.btn.btn.btn-primary(type='submit')
              span.ion-edit
              | Next
